body {
	background-image: url(../img/bg_stars_l.jpg), url(../img/bg_stars_r.jpg);
	background-repeat: repeat-y, repeat-y;
	background-position: left, right;
	background-color: #151515;
	font-family: 'Droid Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin-top: 2rem;
}

@media only screen and (max-width: 64em) { 
	body {
		margin:0;
		padding: 2rem;
	}
}

@media only screen and (max-width: 40em) { 
	body {
		margin:0;
		padding: 1rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Sans', sans-serif;
	color: #fff;
}

.row {
	max-width: 1000px;
}

.row .row {
	margin:0;
}

.column, .columns {
	padding: 0;
}

ul {
	list-style-type: none;
}

@media only screen and (max-width: 40em) {
	.show-for-small {
		display:block;
	}

	.hide-for-small {
		display: none;
	}
}

@media only screen and (max-width: 64em) {
	.show-for-medium-down {
		display: block;
	}

	.hide-for-medium-down {
		display: none;
	}
}

input {
	font-family: 'Droid Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: transparent;
	border:0;
	outline: none;
	width: 100%;
	transition:all 0.2s ease;
}

input:focus {
	color:#3D6782;
}

textarea {
	outline: 0;
}

textarea:focus {
	color:#3D6782!important;
}

.container {
	background-color: #222222;
	margin-top: 1rem;
	position: relative;
	border-radius: 3px;
}

.savedContainer {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 5px;
	background-color: #A02F2F;
}

.loading {
	-webkit-animation: loading 3s ease 1;
	animation: loading 3s ease 1;
}

@-webkit-keyframes loading {
    0% {width: 0%;}
    70% {opacity: 1; width: 100%;}
    100% {width: 100%; opacity: 0;}
}

@keyframes loading {
    0% {width: 0%;}
    70% {opacity: 1; width: 100%;}
    100% {width: 100%; opacity: 0;}
}

.savedContainer h3 {
	color:#D8D8D8;
	font-weight: bold;
	font-size: 20px;
}

.saveButton {
	position: fixed;
	background-color: #1D1D1D;
	bottom: 0;
	transform: translateX(-50%);
	left: 50%;
	padding: 1rem;
	z-index: 100;
	width: 70px;
}

.char {
	height: 240px;
	padding: 2.5rem;
}

@media only screen and (max-width: 40em) {
	.char {
		height: auto;
		margin-top: 16rem;
		padding: 1.5rem;
	}
}

.charInputContainer {
	color: #A3A3A3;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.charInputContainer .row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.charInputContainer hr {
	color: #363636;
	background-color: #363636;
	border-color: #363636;
	margin: 0.75rem 0 1rem 0;
}

.charInputContainer p {
	display: inline-block;
	font-size: inherit;
	color: inherit;
	margin: 0;
}

.charInput {
	color: #A3A3A3;
	font-size: 14px;
	padding-left: 5px;
	text-transform: capitalize;
	font-weight: bold;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
}

@media only screen and (max-width: 40em) {
	.charInputContainer {
		top: 0%;
		-webkit-transform: translateY(0%);
	  	-ms-transform: translateY(0%);
	  	transform: translateY(0%);
	}

	.charInputContainer .row {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap:wrap;
		    -ms-flex-wrap:wrap;
		        flex-wrap:wrap;
	}

	.charInput {
		-webkit-flex-basis:length(100);
		    -ms-flex-preferred-size:length(100);
		        flex-basis:length(100);
	}
}

#character_name {
	font-size: 30px;
	font-weight: bold;
	padding: 0;
	width: 100%;
}

.settingsIcon.species {
	display: inline-block;
	float: right;
	width: 18px;
	line-height: 0;
}

.settingsIcon a img {
	opacity: 0.3;
	transition:all 0.3s ease;
}

.settingsIcon.species a:hover img {
	opacity: 0.6;
}

.speciesSettingsContainer {
	background-color: #1E1E1E;
	max-width: 150px;
	padding: 1rem;
	opacity: 1;
	position: absolute;
	right: 0px;
	top: 15px;
	border-radius: 3px;
	-webkit-transform:scale(0.01);
	    -ms-transform:scale(0.01);
	        transform:scale(0.01);

	-webkit-transform-origin:60%;

	    -ms-transform-origin:60%;

	        transform-origin:60%;
	visibility: hidden;
	transition:all 0.1s ease-out;
}

.speciesSettingsContainer.active {
	-webkit-transform:scale(1);
	    -ms-transform:scale(1);
	        transform:scale(1);
	visibility: visible;
	right: 40px;
}

.speciesSettingsContainer:after, .speciesSettingsContainer:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.speciesSettingsContainer:after {
	border-left-color: #1E1E1E;
	border-width: 10px;
	margin-top: -10px;
}

.speciesSettingsContainer .row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 0.5rem;
}

.speciesSettingsContainer .row:last-child {
	margin-bottom: 0rem;
}

.speciesSettingsContainer p {
	text-transform: capitalize;
	font-size: 12px;
	margin: 0;
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
}

.speciesSettingsInput {
	border-radius: 3px;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #8A2F2A;
}

.xpContainer {
	padding: 0 2rem;
	max-width: 340px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

@media only screen and (max-width: 40em) {
	.xpContainer {
		padding: 0;
		top: 0%;
		-webkit-transform: translateY(0%);
	  	-ms-transform: translateY(0%);
	  	transform: translateY(0%);
	  	margin-top: 2rem;
	}
}

.xpInputContainer {
	background-color: #1F1F1F;
	border-radius: 100px;
	padding:1.5rem 2rem;
}

.xpInputContainer p {
	color:inherit;
	font-size: 12px;
	margin: 0;
	text-align: center;
}

.xpInput {
	width: 100%;
	font-size: 30px;
	display: block;
	text-align: center;
	font-weight: bold;
	color: inherit;
}

.xpInputContainer .columns:first-child {
	color: #A0332D;
}

.xpInputContainer .columns:last-child {
	color: #44789A;
}

.avatarContainer {
	border-radius: 300px;
	overflow: hidden;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

@media only screen and (max-width: 40em) {
	.avatarContainer {
		position: absolute;
		max-width: 200px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		top: -15rem;
	}
}

.attributesContainer > .columns {
	padding: 0 0.5rem;
}

.attributesContainer > .columns:first-child {
	padding-left: 0;
}

.attributesContainer > .columns:last-child {
	padding-right: 0;
}

@media only screen and (max-width: 40em) {
	.attributesContainer > .columns {
		padding: 0 0.5rem;
	}

	.attributesContainer > .columns:nth-child(2) {
		padding-right: 0;
	}

	.attributesContainer > .columns:nth-child(3) {
		padding-left: 0;
	}
}

.attributesContainer .container {
	padding: 0rem;
}

.attributesContainer .container > .row:first-child {
	padding: 1.3rem 0;
	border-bottom: 1px solid #363636;
}

.attributesContainer .container > .row:last-child {
	padding: 1.5rem;
}

.attributesContainer h2 {
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
	line-height: 15px;
	margin-bottom: 0;
	margin-top: 0.2rem;
}

.attributesContainer p {
	color: inherit;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	margin: 0;
}

.attributesContainer .container .row .columns:first-child {
	color: #8A2F2A;
}

.attributesContainer .container .row .columns:last-child {
	color: #3D6985;
}

.attributesInput {
	width: 100%;
	font-size: 30px;
	display: block;
	text-align: center;
	font-weight: bold;
	color: inherit;
}

.criticalContainer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 1.7rem 1.5rem;
}

.criticalContainer h2 {
	color: #979696;
	font-size: 15px;
	line-height: 15px;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	margin-top:0.5rem;
	text-transform: uppercase;
}

.critInput {
	background-color: #D8D8D8;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	margin:0;
	border-radius: 3px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: #393939;
	font-size: 12px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.characteristicsContainer {
	text-align: center;
	margin-top:1rem;
}

.characteristicsContainer .container {
	padding: 1.5rem 0;
	margin-top: 0;
	border-radius: 0;
}

.characteristicsContainer .container:first-child {
	border-radius: 3px 0 0 3px;
}

.characteristicsContainer .container:last-child {
	border-radius: 0 3px 3px 0;
}

.characteristicsContainer .container:nth-child(odd) {
	background-color: #1E1E1E;
}

.characteristicsContainer .characteristicsInput {
	background-color: #D8D8D8;
	border-radius: 300px;
	width: 76px;
	height: 76px;
	text-align: center;
	font-weight: bold;
	line-height: 76px;
	vertical-align: middle;
	font-size: 35px;
	color: #222222;
	padding-top: 3px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/*---------TABS CONTAINER---------*/

.characteristicsContainer h2 {
	font-size: 14px;
	text-transform: uppercase;
	color: #A0A0A0;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0.6rem;
}

.tabs-content > .content {
	padding: 0;
}

.tabsContainer {
	padding: 0 0.5rem;
	transition:all 0.3s ease;
	margin-top: 1rem;
	outline: none;
}

.tabsContainer:first-child {
	padding-left: 0;
}

.tabsContainer:last-child {
	padding-right: 0;
}

.tabsContainer a {
	width: 100%;
	padding:1rem;
	display: inline-block;
	outline: none;
	background-color: #222222;
	transition:all 0.3s ease;
	border-radius: 3px;
	outline: none;
}

.tabsContainer a:hover {
	background-color: #302F2F;
}

.tabsContainer.active a {
	background-color: #302F2F;
}

.tabsContainer a:after {
	content: "";
	width: 100px;
	height: 4px;
	display: block;
	position: absolute;
	border-color: transparent transparent #151515 transparent;
    border-style: solid;
    border-width: 4px;
    left: 50%;
    bottom: 0;
    -webkit-transform:translateX(-50%) translateY(7px);
        -ms-transform:translateX(-50%) translateY(7px);
            transform:translateX(-50%) translateY(7px);
    transition:all 0.4s ease;
}

.tabsContainer a:hover:after {
	content: "";
	bottom: 0px;
    left: 50%;
    -webkit-transform:translateX(-50%) translateY(0px);
        -ms-transform:translateX(-50%) translateY(0px);
            transform:translateX(-50%) translateY(0px);
}

.tabsContainer.active a:after {
	content: "";
	bottom: 0px;
    left: 50%;
    -webkit-transform:translateX(-50%) translateY(0px);
        -ms-transform:translateX(-50%) translateY(0px);
            transform:translateX(-50%) translateY(0px);
}

.tabsContainer h2 {
	color: #919191;
	font-size:15px;
	text-align: center;
	margin:0;
	text-transform: uppercase;
}

@media only screen and (max-width: 64em) {
	.tabsContainer {
		padding: 0 0.5rem;
	}

	.tabsContainer a:after {
		content: "";
		width: 100px;
		height: 4px;
		display: block;
		position: absolute;
		border-color: transparent transparent #151515 transparent;
	    border-style: solid;
	    border-width: 4px;
	    left: 50%;
	    bottom: 0;
	    -webkit-transform:translateX(-50%) translateY(7px);
	        -ms-transform:translateX(-50%) translateY(7px);
	            transform:translateX(-50%) translateY(7px);
	    transition:all 0.4s ease;
	}

	.tabsContainer a:hover:after {
		content: "";
		bottom: 0px;
	    left: 50%;
	    -webkit-transform:translateX(-50%) translateY(0);
	        -ms-transform:translateX(-50%) translateY(0);
	            transform:translateX(-50%) translateY(0);
	}

	.tabsContainer.active a:after {
		content: "";
		bottom: 0px;
	    left: 50%;
	    -webkit-transform:translateX(-50%) translateY(0);
	        -ms-transform:translateX(-50%) translateY(0);
	            transform:translateX(-50%) translateY(0);
	}
}

@media only screen and (max-width: 40em) {
	.tabsContainer {
		padding: 0rem 0;
		margin-top: 1rem;
	}
}

.tabContent {
	margin-bottom: 3rem;
}

.tabContent h2 {
	font-size: 15px;
	text-transform: uppercase;
	color: #A0A0A0;
	margin-bottom: 0.5rem;
}

.tabContent > .columns {
	padding:2rem;
}

@media only screen and (max-width: 40em) {
	.tabContent > .columns {
		padding:1rem;
	}
}

/*---------SKILLS & TALENTS---------*/

.skill {
	padding: 2rem;
}

.skill h2 {
	color: #979696;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.skillGeneral, .skillCombat, .skillKnowledge {
	background-color: #D8D8D8;
	border-radius: 3px;
	padding: 1rem;
}

.skillGeneral > .row, .skillCombat > .row, .skillKnowledge > .row {
	border-bottom: 1px solid #BAB3B3;
}

.skillGeneral > .row:first-child, .skillCombat > .row:first-child, .skillKnowledge > .row:first-child {
	padding-top: 0;
}

.skillGeneral > .row:last-child, .skillCombat > .row:last-child, .skillKnowledge > .row:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.skillGeneral .row, .skillCombat .row, .skillKnowledge .row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	padding: 0.5rem 0;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.skillCombat {
	margin-bottom: 1rem;
}

.skillContainer > .columns:last-child {
	padding-left: 1rem;
}

@media only screen and (max-width: 40em) {
	.skillContainer > .columns:last-child {
		padding: 0;
	}

	.skillCombat {
		margin-top: 1rem;
	}
}

.skillContainer h3 {
	font-size: 14px;
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 14px;
}

.skillContainer p {
	font-size: 12px;
	line-height: 12px;
	color: #393939;
	margin: 0;
}

.skillCareerInput {
	font-size: 12px;
	color: #393939;
	display: block;
}

.skillName {
	-webkit-flex: 3;
	    -ms-flex: 3;
	        flex: 3;
	border-right: 1px solid #BAB3B3;
}

.skillCareer {
	-webkit-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.skillRankContainer {
	-webkit-flex: 3;
	    -ms-flex: 3;
	        flex: 3;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.header .skillName, .header .skillCareer, .skillRankContainer {
	border-right: 0;
	padding: 0;
}

.skillRank {
	-webkit-flex:5;
	    -ms-flex:5;
	        flex:5;
	height: 10px;
	background-color: #CBCBCB;
	border:1px solid #979797;
	border-right: 0;
	cursor: pointer;
	transition:all 0.25s ease-out;
}

.skillRank:hover {
	background-color: rgba(132, 204, 87, 0.4);
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.30);
}

.skillRank:first-child {
	border-radius: 4px 0 0 4px;
}

.skillRank:last-child {
	border-radius: 0 4px 4px 0;
	border-right:1px solid #979797;
}

.skillRank.ranked {
	background-color: #84CC57;
}

.skillRank.ranked:hover {
	background-color: rgba(221, 192, 69, 0.5);
}

.skillRank.trained {
	background-color: #AED297;
}

.skillRank.trained.ranked {
	background-color: #DDC045;
}

.skillRank.trained.ranked:hover {
	background-color: rgba(132, 204, 87, 0.6);
}

.talent {
	padding: 2rem;
}

.talent h2 {
	color: #979696;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.talentContainer {
	background-color: #D8D8D8;
	border-radius: 3px;
	padding: 1rem;
}

.talentContainer .row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding:0.5rem 0;
	border-bottom: 1px solid #BAB3B3;
}

.talentContainer .row:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.talentContainer h3 {
	font-size: 14px;
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 14px;
}

.talentInput {
	font-size: 12px;
	color: #393939;
	display: block;
}

.talentName {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
	padding-right: 0.5rem;
	
}

.talentPage {
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	border-left: 1px solid #BAB3B3;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.talentSummary {
	-webkit-flex:6;
	    -ms-flex:6;
	        flex:6;
	border-left: 1px solid #BAB3B3;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.header .talentName, .header .talentPage, .header .talentSummary {
	border-color:#D8D8D8;
	padding-left: 0;
}

.addTalent {
	color: #393939;
	cursor: pointer;
	transition:all 0.3s ease;
}

.addTalent:hover {
	color:#2f4b5f;
}

.addTalent:hover .addTalentButton {
	background-color:#2f4b5f;
}

.addTalentButton {
	background-color: #3C6783;
	width: 20px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	border-radius: 20px;
	padding-left: 1px;
	padding-top: 1px;
	display: inline-block;
	transition:all 0.3s ease;
}

.addTalent p {
	font-size: 12px;
	padding-left: 0.5rem;
	margin:0;
	margin-top: 0.1rem;
	color: inherit;
	display: inline-block;
}

/*-----------GEAR & EQUIPMENT-----------*/

.gear {
	padding: 2rem;
}

.gear h2 {
	color: #979696;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.row.gearInfoContainer {
	background-color: #D8D8D8;
	border-radius: 3px;
	padding: 1rem;
	margin-bottom: 1rem;
}

.gearInfoContainer h3 {
	font-size: 14px;
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 15px;
}

.gearInfoContainer .columns {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.creditsContainer h3 {
	margin-right: 0.7rem;
}

.creditsContainer input {
	font-size: 14px;
	padding: 0;
	line-height: 0;
}

.encumbranceContainer h3 {
	text-align: right;
	font-weight: normal;
	width: 100%;
}

.encumbranceThreshold {
	font-weight: bold;
}

.encumbranceCurrent {
	font-weight: bold;
}

.encumbranceCurrent.underThreshold {
	color:#447ea8;
}

.encumbranceCurrent.aboveThreshold {
	color:#8A2F2A;
}

.weaponContainer {
	background-color: #D8D8D8;
	border-radius: 3px;
	padding: 1rem;
	margin-bottom: 1rem;
}

.weaponContainer .row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding:0.5rem 0;
	border-bottom: 1px solid #BAB3B3;
}

.weaponContainer .row:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.weaponContainer h3 {
	font-size: 14px;
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 14px;
}

.weaponInput {
	font-size: 12px;
	color: #393939;
	display: block;
}

.weaponContainer .row > div {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
	border-left: 1px solid #BAB3B3;
	padding: 0 0.5rem;
	line-height: 14px;	
}

.weaponContainer .row > div.weaponName {
	-webkit-flex:5;
	    -ms-flex:5;
	        flex:5;
	border-left: none;
	padding-left: 0;
}

.weaponContainer .row > .weaponSkill {
	-webkit-flex:3;
	    -ms-flex:3;
	        flex:3;
}

.weaponContainer .row > .weaponPage {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
}

.weaponContainer .row > .weaponDamage {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
}

.weaponContainer .row > .weaponCritical {
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
}

.weaponContainer .row > .weaponRange {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
}

.weaponContainer .row > .weaponHardpoints {
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
}

.weaponContainer .row > .weaponEncumbrance {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
}

.weaponContainer .row > .weaponSpecial {
	-webkit-flex:5;
	    -ms-flex:5;
	        flex:5;
}

.weaponContainer .row > .weaponAttachment {
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	border-left:0;
	text-align: center;
}

.weaponContainer .header > div {
	border:none;
	padding-left: 0;
	padding-right: 0.5rem;
}

.addWeapon {
	color: #393939;
	cursor: pointer;
	transition:all 0.3s ease;
	border-left: 0!important;
	padding-left: 0!important;
}

.addWeapon:hover {
	color:#2f4b5f;
}

.addWeapon:hover .addWeaponButton {
	background-color:#2f4b5f;
}

.addWeaponButton {
	background-color: #3C6783;
	width: 20px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	border-radius: 20px;
	padding-left: 1px;
	padding-top: 1px;
	display: inline-block;
	transition:all 0.3s ease;
}

.addWeapon p {
	font-size: 12px;
	padding-left: 0.5rem;
	margin:0;
	margin-top: 0.1rem;
	color: inherit;
	display: inline-block;
}

.armor {
	padding-right: 0.5rem;
}

@media only screen and (max-width: 64em) { 
	.armor {
		padding:0;
	}
}

.armorContainer {
	background-color: #D8D8D8;
	border-radius: 3px;
	padding: 1rem;
}

.armorContainer .row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding:0.5rem 0;
	border-bottom: 1px solid #BAB3B3;
}

.armorContainer .row:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.armorContainer h3 {
	font-size: 14px;
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 14px;
}

.armorInput {
	font-size: 12px;
	color: #393939;
	display: block;
}

.armorContainer .row > div {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
	border-left: 1px solid #BAB3B3;
	padding: 0 0.5rem;
	line-height: 14px;	
}

.armorContainer .row > div.armorName {
	-webkit-flex:5;
	    -ms-flex:5;
	        flex:5;
	border-left: none;
	padding-left: 0;
}

.armorContainer .row > .armorPage {
	-webkit-flex:3;
	    -ms-flex:3;
	        flex:3;
}

.armorContainer .row > .armorHardpoints {
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
}

.armorContainer .row > .armorEncumbrance {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
}

.armorContainer .row > .armorAttachment {
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	border-left:0;
	text-align: right;
}

.armorContainer .header > div {
	border:none;
	padding-left: 0;
	padding-right: 0.5rem;
}

.addArmor {
	color: #393939;
	cursor: pointer;
	transition:all 0.3s ease;
	border-left: 0!important;
	padding-left: 0!important;
}

.addArmor:hover {
	color:#2f4b5f;
}

.addArmor:hover .addArmorButton {
	background-color:#2f4b5f;
}

.addArmorButton {
	background-color: #3C6783;
	width: 20px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	border-radius: 20px;
	padding-left: 1px;
	padding-top: 1px;
	display: inline-block;
	transition:all 0.3s ease;
}

.addArmor p {
	font-size: 12px;
	padding-left: 0.5rem;
	margin:0;
	margin-top: 0.1rem;
	color: inherit;
	display: inline-block;
}

.item {
	padding-left: 0.5rem;
}

@media only screen and (max-width: 64em) { 
	.item {
		padding:0;
		margin-top: 1rem;
	}
}

.itemContainer {
	background-color: #D8D8D8;
	border-radius: 3px;
	padding: 1rem;
}

.itemContainer .row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding:0.5rem 0;
	border-bottom: 1px solid #BAB3B3;
}

.itemContainer .row:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.itemContainer h3 {
	font-size: 14px;
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 14px;
}

.itemInput {
	font-size: 12px;
	color: #393939;
	display: block;
}

.itemContainer .row > div {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
	border-left: 1px solid #BAB3B3;
	padding: 0 0.5rem;
	line-height: 14px;	
}

.itemContainer .row > div.itemName {
	-webkit-flex:5;
	    -ms-flex:5;
	        flex:5;
	border-left: none;
	padding-left: 0;
}

.itemContainer .row > .itemPage {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
}

.itemContainer .row > .itemQuantity {
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
}

.itemContainer .row > .itemEncumbrance {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
}

.itemContainer .header > div {
	border:none;
	padding-left: 0;
	padding-right: 0.5rem;
}

.addItem {
	color: #393939;
	cursor: pointer;
	transition:all 0.3s ease;
	border-left: 0!important;
	padding-left: 0!important;
}

.addItem:hover {
	color:#2f4b5f;
}

.addItem:hover .addItemButton {
	background-color:#2f4b5f;
}

.addItemButton {
	background-color: #3C6783;
	width: 20px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	border-radius: 20px;
	padding-left: 1px;
	padding-top: 1px;
	display: inline-block;
	transition:all 0.3s ease;
}

.addItem p {
	font-size: 12px;
	padding-left: 0.5rem;
	margin:0;
	margin-top: 0.1rem;
	color: inherit;
	display: inline-block;
}

/*----------BACKSTORY----------*/

.backstory {
	padding: 2rem;
}

.backstory h2 {
	color: #979696;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.backstoryContainer {
	padding-right: 1rem;
}

@media only screen and (max-width: 64em) { 
	.backstoryContainer {
		padding:0;
	}
}

.backstoryContainer > .row {
	background-color: #D8D8D8;
	border-radius: 3px;
	padding: 1rem;
}

.backstoryContainer h2 {
	font-size: 20px;
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 24px;
	text-transform: capitalize;
}

.backstoryContainer textarea {
	border:1px solid #D8D8D8;
	background-color: transparent;
	width: 100%;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #414141;
	margin-top: 0.5rem;
	border-radius: 2px;
	transition:all 0.3s ease-out;
	padding: 0;
	resize: none;
	min-height: 400px;
}

.backstoryContainer textarea:focus {
	border:1px solid #8a8384;
	padding: 3px;
}

.obligationContainer {
	padding-left: 0.5rem;
}

@media only screen and (max-width: 64em) { 
	.obligationContainer {
		padding-left: 0;
		padding-right: 0.5rem;
		margin-top: 1rem;
	}
}

@media only screen and (max-width: 40em) { 
	.obligationContainer {
		padding-left: 0;
		padding-right: 0rem;
		margin-top: 1rem;
	}
}

.obligationContainer {
	background-color: #D8D8D8;
	border-radius: 3px;
	padding: 1rem;
}

.obligationContainer h2 {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 20px;
	margin-bottom: 0.4rem;
}

.obligationContainer h3 {
	font-weight: bold;
	color: #393939;
	margin: 0;
}

.obligationRowContainer > .row > h3 {
	margin-bottom: 0.5rem;
}

.obligationRowContainer .row .row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 0.2rem;
}

.obligationRowContainer .row .row > h3 {
	font-size: 12px;
	line-height: 14px;
	margin-right: 0.2rem;
}

.obligationInput {
	font-size: 12px;
	line-height: 12px;
	color: #393939;
	display: block;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
}

.obligationRowContainer .obligationDescription {
	 -webkit-flex-direction: column;
   	-ms-flex-direction: column;
	     flex-direction: column;
}

.obligationRowContainer textarea {
	border:1px solid #D8D8D8;
	background-color: transparent;
	width: 100%;
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	color: #414141;
	border-radius: 2px;
	transition:all 0.2s ease-out;
	min-height: 0px;
	padding:0;
	resize: none;
}

.obligationRowContainer textarea:focus {
	border:1px solid #8a8384;
	padding: 3px;
}

.obligationRowContainer hr {
	border-color:#BAB3B3;
	background-color: #BAB3B3;
	color:#BAB3B3;
	margin: 1rem 0;
}

.addObligation {
	color: #393939;
	cursor: pointer;
	transition:all 0.3s ease;
	border-left: 0!important;
}

.addObligation:hover {
	color:#2f4b5f;
}

.addObligation:hover .addObligationButton {
	background-color:#2f4b5f;
}

.addObligationButton {
	background-color: #3C6783;
	width: 20px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	border-radius: 20px;
	padding-left: 1px;
	padding-top: 1px;
	display: inline-block;
	transition:all 0.3s ease;
}

.addObligation p {
	font-size: 12px;
	padding-left: 0.5rem;
	margin:0;
	margin-top: 0.1rem;
	color: inherit;
	display: inline-block;
}

.motivationContainer {
	padding-left: 0.5rem;
	margin-top: 1rem;
}

@media only screen and (max-width: 40em) { 
	.motivationContainer {
		padding-left: 0rem;
		margin-top: 1rem;
	}
}


.motivationContainer {
	background-color: #D8D8D8;
	border-radius: 3px;
	padding: 1rem;
}

.motivationContainer h2 {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 20px;
	margin-bottom: 0.4rem;
}


.motivationContainer h3 {
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 20px;
}

.motivationRowContainer > .row > h3 {
	margin-bottom: 0.5rem;
}

.motivationRowContainer .row .row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 0.2rem;
}

.motivationRowContainer .row .row > h3 {
	font-size: 12px;
	line-height: 14px;
	margin-right: 0.2rem;
}

.motivationInput {
	font-size: 12px;
	line-height: 12px;
	color: #393939;
	display: block;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
}

.motivationRowContainer .motivationDescription {
	 -webkit-flex-direction: column;
   	-ms-flex-direction: column;
	     flex-direction: column;
}

.motivationRowContainer textarea {
	border:1px solid #D8D8D8;
	background-color: transparent;
	width: 100%;
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	color: #414141;
	border-radius: 2px;
	transition:all 0.2s ease-out;
	min-height: 0px;
	padding:0;
	resize: none;
}

.motivationRowContainer textarea:focus {
	border:1px solid #8a8384;
	padding: 3px;
}

.motivationRowContainer hr {
	border-color:#BAB3B3;
	background-color: #BAB3B3;
	color:#BAB3B3;
	margin: 1rem 0;
}

.addMotivation {
	color: #393939;
	cursor: pointer;
	transition:all 0.3s ease;
	border-left: 0!important;
}

.addMotivation:hover {
	color:#2f4b5f;
}

.addMotivation:hover .addMotivationButton {
	background-color:#2f4b5f;
}

.addMotivationButton {
	background-color: #3C6783;
	width: 20px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	border-radius: 20px;
	padding-left: 1px;
	padding-top: 1px;
	display: inline-block;
	transition:all 0.3s ease;
}

.addMotivation p {
	font-size: 12px;
	padding-left: 0.5rem;
	margin:0;
	margin-top: 0.1rem;
	color: inherit;
	display: inline-block;
}

.attachmentModal {
	background-color: #222222;
	border-radius: 3px;
	border:none;
}

.attachmentModal h2 {
	color: #979696;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.reveal-modal {
	min-height: 100px;
}

.attachmentContainer {
	background-color: #D8D8D8;
	border-radius: 3px;
	padding: 1rem;
}

.attachmentContainer .header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding:0.5rem 0;
	border-bottom: 1px solid #BAB3B3;
}

.attachmentRowChild {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding:0.5rem 0;
}

.attachmentRow hr {
	color: #BAB3B3;
	background-color: #BAB3B3;
	border-color: #BAB3B3;
	margin: 0.5rem 0 0.5rem 0;
}

.attachmentRowChild:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.attachmentContainer h3 {
	font-size: 14px;
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 14px;
}

.attachmentContainer h4 {
	font-size: 12px;
	font-weight: bold;
	color: #393939;
	margin: 0;
	line-height: 15px;
}

.attachmentInput {
	font-size: 12px;
	color: #393939;
	display: block;
}

.attachmentRowChild > div {
	padding: 0 0.5rem;
	border-right: 1px solid #BAB3B3;
	line-height: 14px;	
}

.attachmentRowChild:last-child {
	margin-bottom: 1rem;
	padding-top: 0;
}

.attachmentName {
	-webkit-flex:5;
	    -ms-flex:5;
	        flex:5;
	padding-left: 0!important;
}

.attachmentName input {
	font-weight: bold;
}

.attachmentPage {
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
}

.attachmentModifiers {
	-webkit-flex:9;
	    -ms-flex:9;
	        flex:9;
	border-right: none!important;
}

.attachmentMods {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 0!important;
	border-right:none!important;
}

.attachmentMods input {
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	padding-left: 0.3rem;
}

.attachmentContainer .header > div {
	border:none;
	padding-left: 0;
	padding-right: 0.5rem;
}

.addAttachment {
	color: #393939;
	cursor: pointer;
	transition:all 0.3s ease;
	border-left: 0!important;
	padding-left: 0!important;
}

.addAttachment:hover {
	color:#2f4b5f;
}

.addAttachment:hover .addAttachmentButton {
	background-color:#2f4b5f;
}

.addAttachmentButton {
	background-color: #3C6783;
	width: 20px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	border-radius: 20px;
	padding-left: 1px;
	padding-top: 1px;
	display: inline-block;
	transition:all 0.3s ease;
}

.addAttachment p {
	font-size: 12px;
	padding-left: 0.5rem;
	margin:0;
	margin-top: 0.1rem;
	color: inherit;
	display: inline-block;
}
